.pag-playlist{
    display: flex;
    flex-direction: column;
    background-color: #1E1E1E;
    height: auto;
    color: #fff;

    

    .section-musicas{
      
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

    }
    .playlist .acoes {
        position: absolute;
        display: flex;
        flex-direction: row;

        align-items: center;
        top: -50px;
        padding: 20px;

        visibility: hidden;
        opacity: 0;
        transition: .3s;
    }

    .playlist:hover {
        transition: .1s;
        transform: scale(1.04);

        .acoes {
            visibility: visible;
            opacity: 1;
        }
    }

    .playlist .acoes > img {
        margin: 0px 5px;
        cursor: pointer;
    }

    .artista{
        width: 200px;
        height: 200px;
        border-radius:100%;
    }

    .music:hover{
        

    }
    .music{
        border: 1px solid #ffffff;
        width: max-content;
        text-align: start;
        width: 16em;
        cursor:pointer;
        margin-left: 5em;
        border-radius: 10px
    }

    .caixa-musica-playlist{
        height: 14em;
        width: 14em;
        border-radius: 10px;
        background-color: #e3e3e325;
        border: solid 1px #fff;
        .k{
           display:flex;
           justify-content: center;
          margin:3em;
        }
    }

    .caixa-musica{
        height: 16em;
        width: 16em;
        border-radius: 10px 10px 0px 0px;
       
    }

    .titulos{
        margin-left: 1em;
    }

    .textt{
        margin: 5px;
    }

    .titulos{
        font-size: 70px;
        display: flex;
        justify-content: start;
        margin-bottom: 30px;

    }

    .playlist{
 margin:0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        
        height: 11.5em;
        width: 11.3em;
        
    }

    .section-playlist{
        padding-left: 5em;
        margin-top: 5em;
    }

    .titulo-playlist{
        font-size: 30px;
        margin-bottom: 35px;
    }

    .nome-playlist{
       
        font-size: 30px;
    }

    .faixa-criar-play{
        display: flex;
        padding-left: 5em;
        margin-top: 10em;
        text-align: center ;
        align-items: center;
    }
    .criar-playlist{
        font-size: 50px;
        margin-left: 0.8em;
    }
    .finalização{
        height: 5em;
    }

    .k{
        
    
    justify-content: center;
    align-items: center;
    margin-top: em;
    }

        .botaoModal{
            border: solid;
            background-color: rgb(0, 255, 255);
        }

        .capP{
           
            width: 90px;
            height: 90px;
            
        }
    


        @media screen and (max-width: 1250px){
            .music{
                border: 2px solid #ffffff;
                width: max-content;
                text-align: start;
                width: 16em;
                font-size: 22px;

                margin-left: 5em;
            }
        
            .caixa-musica{
                height: 16em;
                width: 15.8em;
                border: 2px solid #ffffff;
                .k{
                    margin-top: 3em;
                }
            }
        }

        @media screen and (max-width: 1100px){
            .music{
               
                border: 2px solid #ffffff;
                width: max-content;
                text-align: start;
                width: 14em;
                font-size: 22px;

                margin-left: 5em;
            }

            .section-musicas{
                display: flex;
            }
        
            .caixa-musica{
                height: 16em;
                width: 13.8em;
                .k{
                    margin-top: 3em;
                }
            }
        }

        @media screen and (max-width: 1000px){
            .music{
               
                border: 2px solid #ffffff;
                width: max-content;
                text-align: start;
                width: 13em;
                font-size: 22px;

                margin-left: 5em;
            }

            .section-musicas{
                display: flex;
            }
        
            .caixa-musica{
                height: 16em;
                width: 12.8em;
                .k{
                    margin-top: 3em;
                }
            }
        }

        @media screen and (max-width: 900px){
            .music{
               
                border: 2px solid #ffffff;
                width: max-content;
                text-align: start;
                width: 12.7em;
                font-size: 22px;

                margin-left: 5em;
            }

            .section-musicas{
                display: flex;
            }
        
            .caixa-musica{
                height: 16em;
                width: 12.5em;
                .k{
                    margin-top: 3em;
                }
            }
        }

        @media screen and (max-width: 800px){
            .music{
               
                border: 2px solid #ffffff;
                width: max-content;
                text-align: start;
                width: 11.5em;
                font-size: 22px;

                margin-left: 5em;
            }

            .section-musicas{
                display: flex;
            }
        
            .caixa-musica{
                height: 16em;
                width: 11.3em;
                .k{
                    margin-top: 3em;
                }
            }
        }
}