.pag-playlist{
    display: flex;
    flex-direction: column;
    background-color: #1E1E1E;
    height: 100;
    color: #fff;

    *{
        margin: 0;
        border: 1px solid red;
    }

    .section-musicas{
      
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

    }

    .artista{
        width: 200px;
        height: 200px;
        border-radius:100%;
    }

    .music{
        border: 2px solid #ffffff;
        width: max-content;
        text-align: start;
    
 
    }

    .textt{
        margin: 5px;
    }

    .titulos{
        font-size: 70px;
        display: flex;
        justify-content: start;
        margin-bottom: 30px;

    }

    .caixa-musica{
        height: 16em;
        width: 16em;
    }

    .caixa-musicaa{
        // border: solid 2px blue;
        
    }
    .playlist{
 margin:0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        
        height: 11.5em;
        width: 11.3em;
        
    }

    .section-playlist{
        padding-left: 5em;
        margin-top: 5em;
    }

    .titulo-playlist{
        font-size: 50px;
        margin-bottom: 35px;
    }

    .nome-playlist{
        margin-left: 1em;
        font-size: 30px;
    }

    .faixa-criar-play{
        display: flex;
        padding-left: 5em;
        margin-top: 10em;
        text-align: center ;
        align-items: center;
    }
    .criar-playlist{
        font-size: 50px;
        margin-left: 0.8em;
    }
    .finalização{
        height: 5em;
    }

    .k{
        
    
    justify-content: center;
    align-items: center;
    margin-top: em;
    }

        .botaoModal{
            border: solid;
            background-color: rgb(0, 255, 255);
        }

        .capP{
           
            width: 90px;
            height: 90px;
            
        }
    

}