
    .landing {

  background: #000;
  color: #fff;
  font-family: Arial, sans-serif;

  &__header {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;

    .logo {
      color: #1e4bff;
      font-size: 18px;
    }

    .search-bar {
      flex: 1;
      max-width: 160px;
      height: 12px;
      background: #c6ccff;
      border-radius: 10px;
      margin: 0 auto;
    }

    .icons {
      display: flex;
      gap: 12px;
      opacity: 0.8;
    }
  }

  &__hero {
    display: flex;
    justify-content: center;
    margin: 40px 0;

    .hero-card {
      width: 80%;
      height: 561px;
      background: #0a1dff;
      border-radius: 10px;
    }
  }

  &__section {
    text-align: center;
    // margin: 40px 0;

    h2 {
      font-size: 40px;
      margin-bottom: 6px;
    }

    p {
      font-size: 20px;
      color: #aaa;
      margin-bottom: 20px;
    }

    .cards {
      display: flex;
      justify-content: center;
      gap: 14px;

      .card {
        width: 287px;
        height: 292px;
        border-radius: 6px;
      }

      &.blue .card {
        background: #0a1dff;
      }

      &.dark .card {
        background: #5f3838;
      }
    }
  }
}

        
    
   

