.pagina-reproduzir{
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    width: 100%;
    height: 100vh;
   

    // *{
    //     border: 2px solid green;
    // }


    .faixa-principal{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }


.faixa-1{
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    color: white;
    line-height: 10px;

    img{
        height: 56vh;
        width: 37vw;
        border-radius: 25px;
    }

    
}

.cardMusica{
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    width: 25em;
    height: 7em;
    border-radius: 10px;
    margin: 15px;

    h1{
        margin-bottom: 0px;
        
    }

    
}

    .image-music{
        border-radius: 10px 0px 0px 10px;
        width:9em;
        height: 7em;
    }
   
    .div-ator{
        font-family: "Roboto";
        width: 0px;
        
        font-size: 5px;
        color: hsl(0, 0%, 12%);
        line-height: 30px;

    }
   
    p{
        font-size: 15px;
        font-family: 'Roboto';
    }
    h1{
        font-size:35px;
    }
    @media  (max-width:360px ) {
       
        .faixa-principal{
            display: flex;
            flex-direction: column; 
            justify-content: center;
            align-items: center;   
    }

    .cardmusica{
        display: flex;
        flex-direction: row;
        
       
        background-color: aliceblue;
        
        
        width: 18em;
        height: 5em;
        border-radius: 10px;
        margin: 15px;
    
        h1{
            margin-bottom: -1px;
        }
    
        
    }
    .image-music{
        border-radius: 20px 0px 0px 20px;
        width:7em;
        height: 6em;
    }
    .faixa-1{
        display: flex;
        flex-direction: column;
        background-color: #1e1e1e;
        color: white;
        line-height: 10px;
        justify-content: center;
        align-items: center;
    
        img{
            height: 40vh;
            width: 65vw;
            border-radius: 25px;
        }   
    }
        
    }
    @media  (max-width:375px ) {
       
        .faixa-principal{
            display: flex;
            flex-direction: column; 
            justify-content: center;
            align-items: center;   
    }

    .cardmusica{
        display: flex;
        flex-direction: row;
        
       
        background-color: aliceblue;
        
        
        width: 18em;
        height: 5em;
        border-radius: 10px;
        margin: 15px;
    
        h1{
            margin-bottom: -1px;
        }
    
        
    }
    .image-music{
        border-radius: 20px 0px 0px 20px;
        width:7em;
        height: 6em;
    }
    .faixa-1{
        display: flex;
        flex-direction: column;
        background-color: #1e1e1e;
        color: white;
        line-height: 10px;
        justify-content: center;
        align-items: center;
    
        img{
            height: 40vh;
            width: 65vw;
            border-radius: 25px;
        }
    
        
    }
        
    }
      @media  (max-width:425px ) {
       
        .faixa-principal{
            display: flex;
            flex-direction: column; 
            justify-content: center;
            align-items: center;   
    }

    .cardmusica{
        display: flex;
        flex-direction: row;
        
       
        background-color: aliceblue;
        
        
        width: 18em;
        height: 5em;
        border-radius: 10px;
        margin: 15px;
    
        h1{
            margin-bottom: -1px;
        }
    
        
    }
    .image-music{
        border-radius: 20px 0px 0px 20px;
        width:7em;
        height: 6em;
    }
    .faixa-1{
        display: flex;
        flex-direction: column;
        background-color: #1e1e1e;
        color: white;
        line-height: 10px;
        justify-content: center;
        align-items: center;
    
        img{
            height: 40vh;
            width: 65vw;
            border-radius: 25px;
        }
    
        
    }
        
    }
}