.pagina-buscar {
  background: #000104;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.conteudo {
  flex: 1;
  padding: 40px 20px 80px;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}

.titulo-secao {
  color: #fff;
  margin: 50px 0 25px;
  font-size: 22px;
  font-weight: 600;
}



.caixa-buscaa {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  border: 2px solid #0008FF;
  padding: 7px 20px;
  border-radius:30px;
  max-width: 600px;
  margin: 0 auto 50px;
  transition: 0.3s;
}

// .caixa-busca:focus-within {
//   box-shadow: 0 0 20px #0008FF;
// }

.caixa-buscaa input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 15px;
}

.caixa-busca img {
  width: 22px;
  cursor: pointer;
  transition: 0.3s;
}

.caixa-busca img:hover {
  transform: scale(1.1);
}



.comp-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.card-artistaa {
  display: flex;
  align-items: center;
  background: linear-gradient(135deg, #1f1f1f, #181818);
  border-radius: 20px;
  padding: 18px;
  cursor: pointer;
  transition: all 0.35s ease;
  border: 1px solid rgba(255,255,255,0.05);
}

.card-artista:hover {
  transform: translateY(-8px) scale(1.02);
}

.imagem-artista {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #0008FF;
}

.info-artistaa {
  display: flex;
  flex-direction: column;
  margin-left: 17px;
}

.info-artistaa h1 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 5px;
}

.info-artistaa h2 {
  font-size: 14px;
  color: #b3b3b3;
}



.card-genero {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.card-genero-item {
  position: relative;
  height: 260px;
  border-radius: 25px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.4s ease;
  background-color: #0008FF;
}

.card-genero-item:hover {
  transform: scale(1.05);
}

.imagem-genero {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #0008FF;
  transition: 0.6s ease;
}

.card-genero-item:hover .imagem-genero {
  transform: scale(1.1);
}

.overlay-genero {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background: linear-gradient(to top, rgba(0,0,0,0.85), transparent);
  color: white;
}

.overlay-genero h1 {
  font-size: 60px;
  font-weight: 700;
}

.overlay-genero p {
  font-size: 13px;
  color: #ccc;
}



@media (max-width: 768px) {

  .card-artista {
    flex-direction: column;
    align-items: flex-start;
  }

  .imagem-artista {
    width: 100%;
    height: 200px;
    border-radius: 15px;
    margin-bottom: 15px;
  }

  .info-artista {
    margin-left: 0;
  }
}

@media (max-width: 475px) {

  .card-artista {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    
    
  }

  .imagem-artista {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-bottom: 15px;
  }

  .info-artista {
    margin-left: 0;
  }
}