.pagina-buscar{
    background-color: #1e1e1e;
    background-size: 100%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    
    
input {
    outline: none;
}


.caixa-busca {
    display: flex;
    background-color: white;
    margin-left: 22em;
    border: solid 3px blueviolet;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px #bdbdbd;
    width: 40%;
    margin-top: 30px;
    justify-content: center;
    
}

.volta{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    width:3em;
    height: 3em;
    margin-top: 2em;
    margin-left: 2em;
  }

.cap{
    width: 100px;
    height: 100px;
}

.caixa-busca input {
    background: none;
    border: none;
    padding: 0px;
    width: 100%;
    
}
.caixa-busca img {
    cursor: pointer;
    position: relative;
    right: -15px;
}

.container{

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    justify-content: space-around;

}
.atorenome{
    padding-left: 2em;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    padding-bottom: 10px;

}

.section-music:hover{
    transform: scale(1.1);

}

.section-music{
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    width: 30em;
    background-color: #2e2e2e;
    position:sticky;
    box-shadow: 1px 1px 8px 1px #ffffff;
    margin: 25px;
    cursor: pointer;


    
}
.imagem{
    height: 9.2em;
    width: 9.5em;
    border-radius: 20px 0px 0px 20px;
}
.atorenome{
    padding-left: 2em;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    padding-bottom: 10px;
    color: #fff;

}


.comp-card{
    display: flex;
    flex-direction: column;
    padding: auto;
}


.card_artistas{
    position: relative;
        display: flex;
        
        
        align-items: center;
      
      

        box-shadow: 1px 2px 10px #e3e3e3;
        background-color: white;
        
        width: 330px;
        height: 100px;
        border-radius: 20px;
        margin: 30px 10px;
        cursor: pointer;
        user-select: none;

      

        h1{
            margin: 15px;
            font-size: 100%;
        }
}

.card-genero{
    .comp-card{
        display: flex;
        flex-direction: column;
        padding: auto;
    }    
}
}