

.pagina-reproduzir{
    display: flex;
    flex-direction: column;


    .faixa1{
        height: 8vh;
        background-color: #8D32E5;
    }

    .div-reproducao{
        display: flex;
        flex-direction: row;

    }
}