.pagina-reproduzir-musicaaa{
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    width: 100%;
    height: auto;

    // *{border: solid 2px green;}
   

    

    .faixa-principal{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top:3em;

    }
    
    .volta{
        display:flex;
        justify-content: flex-start;
        align-items: flex-start;
        width:3em;
        height: 3em;
        margin-top: 1em;
        margin-left: 2em;
      }
    
    .imgg{
    background-color: #e3e3e325;
    height: 30em;
    width: 30em;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #fff;
}
.usuarioo{
    height: 15em;
    width: 15em;
    border-radius: 25px;
    // background-color: #ffffff2d;

}

    .text{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        margin: 10px;
        width: 30em;
        
        h1{
            font-size: 20px;
        }

        h2{
            font-size: 20px;
        }


    }

    audio{
        width: 100%;
        border: 0px;
        margin: 10px;
        border-radius: 15px;

    }


.faixa-1{
    margin: 10px;
    display: flex;
    flex-direction: column;
    color: white;
    line-height: 10px;
    align-items: center;
  

    .imgMusica{
        height: 30em;
        width: 30em;
        border-radius: 10px;
       
    }

    h2{
        width: 100%;
        color: #fff;
    }
    h3{
        width: 100%;
        color: #fff;
    }

    
}

.cardMusica{
    display: flex;
    flex-direction: row;
    background-color: #1e1e1e;
    width: 28em;
    height: 8em;
    border-radius: 10px;
    margin: 25px;
    box-shadow: 1px 2px 10px #e3e3e3;
    

    h1{
        color: #fff;
        margin-bottom: 0px;
        font-size: 25px;
        width: 10em;
        
    }

    
}


    .image-music{
        border-radius: 10px 0px 0px 10px;
        width:9.5em;
        height: 8em;
    }

  .lo{
    display:flex;
    flex-direction: row;
    align-items: center;
  }
   
    .div-ator{
        display: flex;
        flex-direction: column;
        text-align: left;
        
        margin-left:10px;
       
       
        
       
        color: hsl(0, 0%, 100%);
        line-height: 25px;
        p{
            font-size: 100%;
           
        }
        h1{
            font-size:150%;
        }

    }
   
   
    @media  (max-width:360px ) {
       
        .faixa-principal{
            display: flex;
            flex-direction: column; 
            justify-content: center;
            align-items: center;   
    }

    .cardmusica{
        display: flex;
        flex-direction: row;
        
       
        background-color: aliceblue;
        
        
        width: 18em;
        height: 5em;
        border-radius: 10px;
        margin: 15px;
    
        h1{
            margin-bottom: -1px;
        }
    
        
    }
    .image-music{
        border-radius: 20px 0px 0px 20px;
        width:7em;
        height: 6em;
    }
    .faixa-1{
        display: flex;
        flex-direction: column;
        background-color: #1e1e1e;
        color: white;
        line-height: 10px;
        justify-content: center;
        align-items: center;
    
        .ImgPrincipal{
            height: 40vh;
            width: 65vw;
            border-radius: 25px;
        }   
    }
        
    }
    @media  (max-width:375px ) {
       
        .faixa-principal{
            display: flex;
            flex-direction: column; 
            justify-content: center;
            align-items: center;   
    }

    .cardmusica{
        display: flex;
        flex-direction: row;
        
       
        background-color: aliceblue;
        
        
        width: 18em;
        height: 5em;
        border-radius: 10px;
        margin: 15px;
    
        h1{
            margin-bottom: -1px;
        }
    
        
    }
    .image-music{
        border-radius: 20px 0px 0px 20px;
        width:7em;
        height: 6em;
    }
    .faixa-1{
        display: flex;
        flex-direction: column;
        background-color: #1e1e1e;
        color: white;
        line-height: 10px;
        justify-content: center;
        align-items: center;
    
        .ImgPrincipal{
            height: 40vh;
            width: 65vw;
            border-radius: 25px;
        }
    
        
    }
        
    }
      @media  (max-width:425px ) {
       
        .faixa-principal{
            display: flex;
            flex-direction: column; 
            justify-content: center;
            align-items: center;   
    }

    .cardmusica{
        display: flex;
        flex-direction: row;
        
       
        background-color: aliceblue;
        
        
        width: 18em;
        height: 5em;
        border-radius: 10px;
        margin: 15px;
    
        h1{
            margin-bottom: -1px;
        }
    
        
    }
    .image-music{
        border-radius: 20px 0px 0px 20px;
        width:7em;
        height: 6em;
    }
    .faixa-1{
        display: flex;
        flex-direction: column;
        background-color: #1e1e1e;
        color: white;
        line-height: 10px;
        justify-content: center;
        align-items: center;
    
        .ImgPrincipal{
            height: 40vh;
            width: 65vw;
            border-radius: 25px;
        }
    
        
    }
        
    }
}