.page-consultar {

    display: flex;
    font: 600 16px 'Inter';
    height: 100vh;

    
    .container1 {
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
        
        height: 100vh;
        align-self: flex-end;
    }


    .conteudo1 {
        display: flex;
        flex-direction: column;
        padding: 20px 60px;

        width: 65%;
        align-self: flex-end;

    }


    .caixa-busca {
        display: flex;
        justify-content: space-between;
        background-color: #fff;

        padding: 20px 40px;
        border-radius: 15px;
        box-shadow: 1px 1px 5px rgb(220, 220, 220);

        width: 40%;
        margin-top: 30px;
        margin-left: -0.1em;
    }
    .caixa-busca input {
        background: none;
        border: none;

        padding: 0px;
        width: 100%;
    }
    .caixa-busca img {
        cursor: pointer;
        position: relative;
        right: -15px;
    }


    .card-container1 {
        display: flex;
        flex-wrap: wrap;

        margin-top: 50px;
        width: 100%;


    }

    

    .card1 {
        position: relative;
        display: flex;
        flex-direction: column;

        justify-content: space-between;
        align-items: center;
        box-shadow: 1px 2px 10px #e3e3e3;

        background-color: #fff;
        padding: 25px;
        width: 200px;

        height: 15em;
        border-radius: 26px;
        margin: 30px 10px;

        cursor: pointer;
        user-select: none;
    }

    .card > div {
        display: flex;
        flex-direction: column;

        align-items: center;
        text-align: center;
    }
    .card div {
        margin: 4px;
    }

    .capas {
        width: 8em;
        height: 8em;
    }


    .card .acoes {
        position: absolute;
        display: flex;
        flex-direction: row;

        align-items: center;
        top: -50px;
        padding: 20px;

        visibility: hidden;
        opacity: 0;
        transition: .3s;
    }

    .card:hover {
        transition: .1s;
        transform: scale(1.04);

        .acoes {
            visibility: visible;
            opacity: 1;
        }
    }

    .card .acoes > img {
        margin: 0px 5px;
        cursor: pointer;
    }

    audio{
        width: 15em;
    }

    .card .sigla {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 61px;
        height: 52px;
        background-color: #FFCE37;
        border-radius: 18px;

        font: 600 22px 'Inter';
        color: #fff;
    }
 
}

