.cabecalho{
    // display: flex;
    // height: 10vh;
    // width: 100%;
    
    // align-items: center;
    
    // justify-content: space-between;
    // background-color:#8D32E5; 
    // box-shadow: 1px 2px 10px #ffffff;


//     .div1-log{
//         display: flex;
//         flex-direction: row;
//         justify-content: space-between;
//         align-items: center;
//         margin-right: 1em;
        
//     }
    
//    .log:hover{
//     transform: scale(1.1);

//    }
//    .logo:hover{
//     transform: scale(1.1);

//    }
   
//     .logo{
//         margin-top: 0.5em;
//         padding-left: 2em;
//         margin-left: 2em;
//         cursor: pointer;
//     }

//     .lupa:hover{
//         transform: scale(1.1);

//     }
//     .lupa{
//         margin-right: 2em;
//         cursor: pointer;


//     }

//     .playlist1:hover{
//         transform: scale(1.1);

//     }

//     .playlist1{
//         margin-right: 2em;
//         cursor: pointer;

//     }


//     .logoconta1{
//         width: 50px;
//     }

//     .usuario:hover{
//         transform: scale(1.1);

//     }
//     .usuario{
//         display: flex;
//       align-items: center;
//       justify-content: center;
//       border:solid 1px #fff;
      

//       background-color: #ffffff;
//       border-radius: 100%;

//       height: 50px;
//       width: 100%;
//       cursor: pointer;
//     }
    
//     * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

// body {
//   background: #000;
//   font-family: Arial, sans-serif;
// }

.music-header {
  height: 64px;
  background: linear-gradient(to right, #000, #080808, #000);
  display: flex;
  align-items: center;
  padding: 0 20px;
}

/* LEFT */
.left {
  width: 60px;
}

.play-btn {
  width: 36px;
  height: 36px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.play-btn svg {
  width: 100%;
  height: 100%;
  fill: #1e6bff;
}

/* CENTER */
.center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-bar {
  width: 420px;
  height: 34px;
  background: #ffffff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  border: solid 0.50px #0008FF;
}

.search-bar input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: #000;
}

.search-icon {
  width: 18px;
  height: 18px;
  stroke: #444;
  stroke-width: 2;
  fill: none;
}

/* RIGHT */
.right {
  width: 100px;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.icon-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.icon-btn svg {
  width: 30px;
  height: 30px;
  stroke: #fff;
  stroke-width: 2;
  fill: none;
  margin: 0px;
}

.usuario {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #0008FF;
  background-color: #0008FF;
  border-radius: 100%;
  height: 35px;
  width: 35px;
  cursor: pointer;
}

}