.cabecalho{
    display: flex;
    height: 10vh;
    width: 100%;
    
    align-items: center;
    
    justify-content: space-between;
    background-color:#8D32E5; 


    .div1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: 5em;
    }
    
   
    .logo{
        margin-top: 0.5em;
        padding-left: 2em;
        margin-left: 2em;
    }

    .lupa{
        margin-right: 2em;

    }

    .playlist1{
        margin-right: 2em;
    }


    .logoconta1{
        width: 50px;
    }

    .usuario{
        display: flex;
      align-items: center;
      justify-content: center;
      

      background-color: #ffffff;
      border-radius: 100%;

      height: 50px;
      width: 100%;
      cursor: pointer;
    }
    
}