.music-header {
  height: 64px;
  background: linear-gradient(to right, #000, #080808, #000);
  display: flex;
  align-items: center;
  padding: 0 20px;
  gap: 20px;
}


.left {
  width: 60px;
  display: flex;
  align-items: center;
}

.play-btn {
  width: 36px;
  height: 36px;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
}

.play-btn:hover {
  transform: scale(1.1);
}

.play-btn svg {
  width: 100%;
  height: 100%;
  fill: #1e6bff;
}


.center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-bar {
  width: 420px;
  max-width: 100%;
  height: 36px;
  background: #ffffff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 14px;
  border: solid 0.5px #0008FF;
  transition: 0.3s;
}

.search-bar input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: #000;
  font-size: 14px;
}

.search-icon {
  width: 18px;
  height: 18px;
  stroke: #444;
  stroke-width: 2;
  fill: none;
}


.right {
  width: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.icon-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
}

.icon-btn:hover {
  transform: scale(1.1);
}

.icon-btn svg {
  width: 28px;
  height: 28px;
  stroke: #fff;
  stroke-width: 2;
  fill: none;
}

.usuario {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #0008FF;
  background-color: #0008FF;
  border-radius: 100%;
  height: 35px;
  width: 35px;
  cursor: pointer;
  transition: 0.2s ease;
}

.usuario:hover {
  transform: scale(1.1);
}


@media (max-width: 1024px) {

  .search-bar {
    width: 300px;
  }

  .icon-btn svg {
    width: 24px;
    height: 24px;
  }
}


@media (max-width: 768px) {

  .music-header {
    padding: 0 12px;
    gap: 10px;
  }

  .search-bar {
    width: 200px;
    height: 32px;
  }

  .search-bar input {
    font-size: 13px;
  }

  .right {
    gap: 10px;
  }

  .icon-btn svg {
    width: 22px;
    height: 22px;
  }

  .usuario {
    height: 30px;
    width: 30px;
  }
}


@media (max-width: 480px) {

  .center {
    display: none; // esconde barra de pesquisa
  }

  .music-header {
    justify-content: space-between;
  }

  .right {
    gap: 8px;
  }

  .icon-btn svg {
    width: 20px;
    height: 20px;
  }

  .usuario {
    height: 28px;
    width: 28px;
  }
}
