

.pagina-loginADM{
    display: flex;
    flex-direction: column;
   
    align-items: center;
    justify-content: center;
      background: linear-gradient(-45deg, #8D32E5, #e73c7e, #8D32E5, #AB72E1);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  
    
    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

    
    
    

    .faixa-1{
      display: flex;
      flex-direction: row;
          background-color: #aaa2b3;
        height: 20vh;
        align-items: center;
    
    }


    .faixa2{
      display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
        

    }
  


    
  
    .label-float{
      position: relative;
      padding-top: 13px;
      
    }
    
    .label-float input{
      background-color: #ffffff4d;
      -webkit-backdrop-filter: blur(40px);
backdrop-filter: blur(40px);
      border: 1px solid lightgrey;
      border-radius: 5px;
  
      
      outline: none;
      min-width: 250px;
      padding: 15px 20px;
      font-size: 16px;
      transition: all .1s linear;
      -webkit-transition: all .1s linear;
      -moz-transition: all .1s linear;
      -webkit-appearance:none;
      color: #ffffff;
    }
    
    .label-float input:focus{
      border: 2px solid #ffffff;
      box-shadow: 2px 2px 10px white;
    }
    
    .label-float input::placeholder{
      color: #fff;
    }
    
    .label-float label{
      pointer-events: none;
      position: absolute;
      top: calc(50% - 8px);
      left: 15px;
      transition: all .1s linear;
      -webkit-transition: all .1s linear;
      -moz-transition: all .1s linear;
      background-color: #ffffff00;
      
      color: white;
      padding: 5px;
      box-sizing: border-box;
    }
   
    
    .label-float input:focus + label,
    .label-float input:not(:placeholder-shown) + label{
      font-size: 13px;
      top: 0;
      color: #ffffff;
    }

    .div{
      margin-top: 30px;
      font-size: 17px;
      font-weight: bold;
      color: #ffffff;
    }
    .botao{
      background-color:#ffffff ;
      font-weight: bold;
        color: #8d32e5;
        border-radius: 20px;
        border: solid #ffffff 3px;
        width: 120px;
        height: 45px;
        margin-top: 5vh;
        font-size: 19px;
        box-shadow: -5px 6px #501b81;
            transition: all ease-in 0.2s;
          
      
    }
    .botao:active, .botao:focus{
      background: #8d32e5;
      color: #FFF;
      border-color: #fff;
      box-shadow: none;
      
  }
  .botao2{
    background-color:#ffffff ;
      font-weight: bold;
        color: #8d32e5;
        border-radius: 20px;
        border: solid #ffffff 3px;
        width: 120px;
        height: 45px;
        margin-left: 5em;
        font-size: 19px;
        box-shadow: -5px 6px #501b81;
            transition: all ease-in 0.2s;
          
  }

  .botao2:active, .botao2:focus{
    background: #8d32e5;
    color: #FFF;
    border-color: #fff;
    box-shadow: none;
    
}
  
  }
  