@import url('');

.pagina-cadastro-musica{
    display: flex;
    flex-direction: row;

    #imagemCapa{
        visibility: hidden;
        position: absolute;
    }

    select{
        border-radius: 5px;
        padding: 10px 7.9em;
        border: solid 1px #8d32e5;
      }
   

    .imagem{
       
        border-radius: 20px;
        height: 100%;
        width: 100%;

    }

    

    .faixa-icons{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #8D32E5;
        height: 100vh;
        width: 21vw;
        color: #fff;
        font-family: 'inter';

    }
    .image-fitbr{
        padding: 6em;
    }
    .div-card1{
        display: flex;
        padding: 20px 10px;
    }
    .p{
        color: #fff;
        font-size: 15px;
        padding-left: 2em;
    }
    .div-card2{
        display: flex;
        
    }
    .div-sair{
        padding: 40px 0px 0px 0px;
    }
    .background{
        background-color: #a45ae9;
        
    }
    .p2{
        color: #fff;
        padding-left: 1em;
    }
    .icons{
        display: flex;
        flex-direction: column;
        width: 21vw;

    }
    .faixa-cadastro{
        background-color: #1E1E1E;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        

    }
    .margin-cadastro{
        background-color: #fff;
        height: 40vw;
        width: 60vw;
        border-radius: 25px;
        display: flex;
        flex-direction: row;

    }

    .div1-cadastro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #8D32E5;
        font-size: 20px;
        font-family: 'inter';
        width: 36vw;
    }

    

    .border-image{
       
        height: 36vh;
        width: 17vw;
        border-radius: 20px;
        display:flex;
        align-items: center;
        justify-content: center;
        border: #8d32e5 solid 3.3px ;
    }
    p{
        font-size: 24px;
    }

    


    .div2-cadastro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 31vw;
        color: #8D32E5;
        margin-top: 3em;

    }
    input{
        background-color: while;
        border: 1px solid #8d32e5;
        border-radius: 5px;
    
        
        outline: none;
        min-width: 250px;
        padding: 15px 20px;
        font-size: 16px;
        transition: all .1s linear;
        
        color: black;

    }

   
     


  

    .div-input{
        padding: 10px;
        margin-right: 3em;

    }

    .botao{
        display: flex;
        background-color: #ffffff;
        font-weight: bold;
        color: #8d32e5;
        border-radius: 10px;
        border: solid #ffffff 3px;
        width: 120px;
        height: 45px;
    
        font-size: 19px;
        box-shadow: 2px 2px 10px #8d32e5;
        transition: all ease-in 0.2s;
        margin-left: 1em;
    
    }

    .botoes {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 40%;
        margin-left: -13em;
      }
      .botao{
        align-items: center;
        text-align: center;
      }
    
    
    
    
}