* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  
}


.cadastroUsuario{
  background-color: #070707;
  width: 100%;
  height: 100vh;


.cadastro{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.register {
  display: flex;
  height: 80vh;
  width: 70%;
  margin-top: 50px;

  &__left {
    width: 50%;
    background: #f7f8fa;
    padding: 80px 90px;
    border-radius: 15px 0px 0px 15px;

    h1 {
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 40px;
      color: #111;
    }

    .field {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      label {
        font-size: 13px;
        font-weight: 500;
        color: #333;
        margin-bottom: 6px;
      }

      input {
        height: 44px;
        padding: 0 14px;
        border-radius: 8px;
        border: 1px solid #dfe3eb;
        background: #fafdff;
        font-size: 14px;
        color: #333;

        &::placeholder {
          color: #8c9bb0;
        }

        &:focus {
          outline: none;
          border-color: #1a37ff;
        }
      }
    }

    .btn-primary {
      margin-top: 10px;
      height: 46px;
      width: 100%;
      border-radius: 10px;
      border: none;
      background: #0b24fb;
      color: #fff;
      font-size: 15px;
      font-weight: 600;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        background: #081bd1;
      }
    }

    .divider {
      margin: 30px 0 20px;
      display: flex;
      align-items: center;
      color: #8c8c8c;
      font-size: 13px;

      &::before,
      &::after {
        content: '';
        flex: 1;
        height: 1px;
        background: #ddd;
      }

      span {
        margin: 0 12px;
      }
    }

    .login-link {
      display: block;
      text-align: center;
      font-size: 14px;
      color: #333;
      text-decoration: none;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__right {
    border-radius: 0px 15px 15px 0px;
    width: 50%;
    background-image: url('https://i.pinimg.com/736x/24/0d/71/240d71b67276c02e851d4bdda17a3b02.jpg');
    background-position: center;
    background-repeat: no-repeat;
  }
}






    //testeeee asdasd

    
}