.pagina-genero{

   
    


.cap{
    width: 100px;
    height: 100px;
}


   
 .genero-nome{
    margin: 20px;
    display:flex;
    align-items: center ;
    justify-content: center;
    h1{
        color: #ffffff;
       
    }
 }   

.Artistas{
   
    display: flex;
    flex-direction: row;


    img{
        width: 300px;
        height: 300px;
        border-radius: 20px;
       
    }
    p{
        color: #ffffff;
        
    }

    .card{
       margin: 
       20px;
        display: flex;
        flex-direction: row;
    

    }

   

    

}

} 